@import '../../styles/all.scss';

.container {
  padding: 12px 16px;
  border-radius: 12px;
  background-color: $color_gray3;
  width: calc(100% - 32px);
  height: fit-content;
  display: flex;
  gap: 10px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;

  .section_title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
  }
  .section_content {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
  }
}
