@import '../../styles/all.scss';

.post_container {
  border-radius: 12px;
  padding: 16px;
  background-color: $color_white;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  .content_wrapper {
    display: flex;
    gap: 12px;

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;

      .content_top_section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 12px;

        .post_user_info {
          font-size: 16px;
          line-height: 20px;
          display: flex;
          gap: 4px;
          flex-wrap: wrap;

          .name_text {
            color: $color_black;
            font-weight: 600;
          }
          .details_text {
            color: $color_gray2;
            font-weight: 400;

            &.dot_separator {
              line-height: 16px;
              font-weight: 700;
            }
          }
        }
      }
      .content_middle_section {
        width: 100%;
      }
      .content_bottom_section {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
