@import '../../../styles/all.scss';

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  font-weight: 700;
  color: $color_white;
  cursor: pointer;

  &.fit_parent {
    width: 100%;
  }

  &.background_primary {
    background-color: $color_primary;
  }

  &.background_black {
    background-color: $color_black;
  }

  &.btn_small {
    height: 35px;
    font-size: 18px;
    border-radius: 35px;
  }

  &.btn_large {
    height: 50px;
    font-size: 22px;
    border-radius: 50px;
  }
}
